.chatItem {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    overflow: hidden;
    height: 12rem;
    align-items: center;
    cursor: pointer;
}

.chatItem > section {
    margin-top: .3rem;
    opacity: 60%;
    width: 80%;
    position: relative;
    overflow: hidden;
}


@media only screen and (min-width: 650px) {
    .chatItem {
        font-size: xx-large;
    }
    
    .chatItem > section {
        margin-top: .3rem;
        opacity: 60%;
        width: 80%;
        position: relative;
        overflow: hidden;
    }
    
}