@import 'style.config.scss';


.progress {
	display: flex;
	justify-content: center;
	width: 100%;
}

.chatForm {
    position: fixed;
    width: 90%;
    height: auto;
    left: 5%;
    top: 25%;
    border-radius: 8px;
    background-color: $blue;
    z-index: 1;
}

.chatForm > h1 {
    text-align: center;
    margin: 5%;
    font-size: large;
    margin-bottom: 2rem;
}

.checkForm > input {
    padding: 5%;
    margin-bottom: 3rem;
    border-style: solid;
    border-color: transparent;
    border-radius: 8px;
    background-color: $super-dark-blue;
    font-size: large;
}

.checkForm > input::placeholder {
    color: $white;
    opacity: 0.6;
}

.checkForm > input:focus {
    border-style: solid;
    border-color: $green-contrast;
}

.checkForm {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.checkButton {
    border-style: none;
    color: $white;
    font-weight: bold;
    background-color: $blue-black;
    padding: 4%;
    border-radius: 8px;
    margin-top: 3rem;
}

.checkButton:hover {
    background-color: $green-contrast;
    transition: all 200ms ease;
}

.options {
    border-style: none;
    padding: 4%;
    border-radius: 8px;
    background-color: $blue-black;
    color: $white;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    
    .chatForm {
        width: 40%;
        left: 35%;
    }
    
    .chatForm > h1 {
        font-size: x-large;
    }
    
    .checkForm > input {
        padding: 5%;
        width: auto;
    }
    
    .checkButton {
        font-size: x-large;
    }

    .options {
        font-size: large;
    }

}

@media only screen and (min-width: 1000px) {
    
    .chatForm {
        width: 20%;
        left: 40%;
    }
    
    .checkForm > input {
        font-size: x-large;
    }

    .options {
        font-size: x-large;
    }

}