$blue-black: #021724;
$super-dark-blue: #051A26;
$blue: #092A3F;
$green-contrast: #03C988;
$white: #FAFAFA;
$black: #1C1C1C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

